services:
  {{CLI_TOOL_NAME}}:
    build: .
    volumes:
      - ~/.config/{{CONFIG_DIR_NAME}}:/root/.config/{{CONFIG_DIR_NAME}}
      - .:/workspace
    working_dir: /workspace
    entrypoint: ["{{BINARY_NAME}}"]
    command: ["--help"]